<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="public" value="https://api.nuget.org/v3/index.json" />
    <add key="github" value="https://nuget.pkg.github.com/maiorsi/index.json" />
  </packageSources>

  <packageSourceCredentials>
    <github>
      <add key="Username" value="%NUGET_USER%" />
      <add key="ClearTextPassword" value="%NUGET_TOKEN%" />
    </github>
  </packageSourceCredentials>
</configuration>