@page "/sid"

@using DirectoryServices.Helpers

<PageTitle>Secure Identifiers</PageTitle>

<h1>Secure Identifiers</h1>

<input @bind="sidStringInputValue" size="50" />&nbsp;
<button class="btn btn-primary" @onclick="EncodeSid">Encode Secure Identifier</button>&nbsp;
<p>@outputBinarySid</p>

<input @bind="binarySidInputValue" size="50" />&nbsp;
<button class="btn btn-primary" @onclick="DecodeSid">Decode Binary Secure Identifier</button>&nbsp;
<p>@outputSidString</p>

@code {
    private string? sidStringInputValue;
    private string? binarySidInputValue;
    private string? outputBinarySid;
    private string? outputSidString;

    private void EncodeSid()
    {
        outputBinarySid = Encode(sidStringInputValue);
    }

    private void DecodeSid()
    {
        outputSidString = Decode(binarySidInputValue);
    }

    private string? Encode(string? sid)
    {
        var bytes = SecureIdentifierHelper.Encode(sid);

        return Convert.ToBase64String(bytes);
    }

    private string? Decode(string? base64BinarySid)
    {
        var bytes = Convert.FromBase64String(base64BinarySid ?? string.Empty);

        return SecureIdentifierHelper.Decode(bytes);
    }
}
